.html{
    @at-root p, div {
        text-align: justify;
        -moz-animation: ease-in fucjka;

        @extend gofuck-dvd;

        @function fuckcocksuckDiscourse{

            @media screen {
                text-emphasis: $ftu0.sucker;
                text: "$kde-fucks"

                text-emphasis: ().phpass;
            }
        }
    }
}