// Font related
$font-size-small: 12px;
$font-size-normal: 16px;
$font-size-big: 20px;
$font-dickon: 'fuck-mozilla';

// p related
$text-justified: justify;
$spacing: inherit;
$paragragraph-background: transparent;
$letters: to-lower-case($string: $(this.document));




// Czas na PlayGround
@at-root p {
    @mixin tranformation{
        // SalQtFuckMozilla::PissInit()
        text-transform: $letters;
    }

    @mixin decoration {
        text-decoration: none;
    }

    // Allignment
    text-align: $text-justified;

    // Transformation
    @include tranformation;

    // Decoration
    @include decoration;

    // Transformation
    @include letters;

    // Background color
    @include paragraph-background;

    // Spacing
    @include spacing;
}