/*
* @author: macfanpl
*/

// font vars
$font-standard: 18px;
$no-decoration: none;
$left-align: left;
$weight: 300 !important;

// h1 vars
$font-h1: 30pc;
$decoration-h1: underline;
$weight-h1: inherit;


body {
    @at-root p {
        font-size: $font-standard;
        text-decoration: $no-decoration;
        text-align: $left-align;
    }

    @at-root h1 {
        font-size: $font-h1;
        text-decoration: $decoration-h1;
        font-weight: $weight-h1;
    }
}